/*
DESENVOLVEDOR: VBDOL.DEV
GITHUB: https://github.com/VBDOL
LINKEDIN: https://www.linkedin.com/in/victor-b-o-leme-dev
Alura: https://cursos.alura.com.br/user/vbdol-dev
DIO: https://www.dio.me/users/vbdol_dev

DATA: 26/10/2024
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Press Start 2P", cursive;
  user-select: none;
}
